In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('../data/raw/movies.csv', sep=',')
actors = pd.read_csv('../data/raw/actors.csv', sep=',')
countries = pd.read_csv('../data/raw/countries.csv', sep=',')
directors = pd.read_csv('../data/raw/directors.csv', sep=',')
genres = pd.read_csv('../data/raw/genres.csv', sep=',')
locations = pd.read_csv('../data/raw/locations.csv', sep=',')
movie_tags = pd.read_csv('../data/raw/movie_tags.csv', sep=',')
ratings = pd.read_csv('../data/raw/ratings.csv', sep=',')
tags =  pd.read_csv('../data/raw/tags.csv', sep=',')

In [3]:
movie_tags

       movieID  tagID  tagWeight
0            1      7          1
1            1     13          3
2            1     25          3
3            1     55          3
4            1     60          1
...        ...    ...        ...
51790    65037    792          1
51791    65037   2214          1
51792    65126   5281          1
51793    65126  13168          1
51794    65130   2924          1

[51795 rows x 3 columns]

In [4]:
tags = tags.rename(columns = {'id':'tagID'})
tags_movies_merged = pd.merge(movie_tags, tags, how = 'outer', on = 'tagID')

In [5]:
tags_movies_merged

       movieID  tagID  tagWeight            value
0          1.0      7        1.0            funny
1         50.0      7        1.0            funny
2        186.0      7        1.0            funny
3        256.0      7        1.0            funny
4        272.0      7        1.0            funny
...        ...    ...        ...              ...
59715      NaN  16524        NaN  good in its day
59716      NaN  16525        NaN           isaiah
59717      NaN  16527        NaN      top 5 movie
59718      NaN  16528        NaN        vontatott
59719      NaN  16529        NaN              tps

[59720 rows x 4 columns]

In [6]:
tags_new = tags_movies_merged.dropna()

In [7]:
movies = movies[['id', 'title', 'year']]

In [8]:
movies = movies.rename(columns = {'id':'movieID'})

In [9]:
merged_movies = pd.merge(movies, tags_new, how = 'outer', on='movieID')

In [10]:
merged_movies

,movieID,title,year,tagID,tagWeight,value
0,1,Toy story,1995.0,7.0,1.0,funny
1,1,Toy story,1995.0,13.0,3.0,time travel
2,1,Toy story,1995.0,25.0,3.0,tim allen
3,1,Toy story,1995.0,55.0,3.0,comedy
4,1,Toy story,1995.0,60.0,1.0,fun
...,...,...,...,...,...,...
54832,65091,Manhattan Melodrama,1934.0,NaN,NaN,NaN
54833,65126,Choke,2008.0,5281.0,1.0,based on book
54834,65126,Choke,2008.0,13168.0,1.0,chuck palahniuk
54835,65130,Revolutionary Road,2008.0,2924.0,1.0,toplist08
54836,65133,Blackadder Back & Forth,1999.0,NaN,NaN,NaN

In [11]:
ratings

        user_id  movieID  rating
0          1264     2363     3.5
1           213     8368     2.5
2           593    64032     3.0
3           609    54995     4.0
4          1590     5005     4.0
...         ...      ...     ...
812813       99     2803     3.0
812814      333     4215     3.0
812815       49     2759     3.0
812816      322     3114     5.0
812817     1402    35836     3.5

[812818 rows x 3 columns]

In [13]:
merged_movies = pd.merge(merged_movies, ratings, how='outer', on='movieID')

In [19]:
merged_movies.sort_values(by=['user_id'], inplace=True)

In [20]:
merged_movies

,movieID,title,year,tagID,tagWeight,value,user_id,rating
13474978,8961,The Incredibles,2004.0,2804.0,1.0,watched 2006,0.0,5.0
15083956,48774,Children of Men,2006.0,12794.0,1.0,skinut,0.0,5.0
10868886,5225,Y tu mamá también,2001.0,582.0,1.0,owned,0.0,4.5
13020971,8195,L'avventura,1960.0,154.0,1.0,rome,0.0,4.5
13206876,8636,Spider-Man,2002.0,4080.0,1.0,gfei own it,0.0,3.5
...,...,...,...,...,...,...,...,...
15662997,64959,Divide and Conquer,1943.0,11313.0,1.0,traitor,NaN,NaN
15663037,64993,Byôsoku 5 senchimêtoru,2007.0,473.0,1.0,drama,NaN,NaN
15663038,64993,Byôsoku 5 senchimêtoru,2007.0,740.0,1.0,japan,NaN,NaN
15663039,64993,Byôsoku 5 senchimêtoru,2007.0,687.0,1.0,love,NaN,NaN
15663040,64993,Byôsoku 5 senchimêtoru,2007.0,712.0,2.0,anime,NaN,NaN

In [25]:
merged_movies.isnull().any()

movieID      False
title        False
year          True
tagID         True
tagWeight     True
value         True
user_id       True
rating        True
dtype: bool

In [26]:
merged_movies_cleaned = merged_movies.dropna()
merged_movies_cleaned.isnull().any()

movieID      False
title        False
year         False
tagID        False
tagWeight    False
value        False
user_id      False
rating       False
dtype: bool