# KNN Model

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

# set random state for reproducibility
kwargs = dict(random_state=42)

In [21]:
# Load Datasets
movies = pd.read_csv('../data/raw/movies.csv', sep=',')
actors = pd.read_csv('../data/raw/actors.csv', sep=',')
countries = pd.read_csv('../data/raw/countries.csv', sep=',')
directors = pd.read_csv('../data/raw/directors.csv', sep=',')
genres = pd.read_csv('../data/raw/genres.csv', sep=',')
locations = pd.read_csv('../data/raw/locations.csv', sep=',')
movie_tags = pd.read_csv('../data/raw/movie_tags.csv', sep=',')
ratings = pd.read_csv('../data/raw/ratings.csv', sep=',')
tags =  pd.read_csv('../data/raw/tags.csv', sep=',')

In [22]:
#Merging data like Christin -> created csv was 1,11GB 
movies = movies[['id', 'title', 'year']]
movies = movies.rename(columns = {'id':'movieID'})
actors.dropna()
merged_movies = pd.merge(movies, actors, how = 'outer', on='movieID')
countries.dropna()
merged_movies = pd.merge(merged_movies, countries, how = 'outer', on='movieID')

In [23]:
directors.dropna()
merged_movies = pd.merge(merged_movies, directors, how = 'outer', on='movieID')
genres.dropna()
merged_movies = pd.merge(merged_movies, genres, how = 'outer', on='movieID')
merged_movies = pd.merge(merged_movies, ratings, how='outer', on='movieID')
merged_movies = merged_movies.dropna()

In [24]:
merged_movies

,movieID,title,year,actorID,actorName,ranking,country,directorID,directorName,genre,user_id,rating
0,1,Toy story,1995.0,annie_potts,Annie Potts,10.0,USA,john_lasseter,John Lasseter,Adventure,1339.0,5.0
1,1,Toy story,1995.0,annie_potts,Annie Potts,10.0,USA,john_lasseter,John Lasseter,Adventure,551.0,3.5
2,1,Toy story,1995.0,annie_potts,Annie Potts,10.0,USA,john_lasseter,John Lasseter,Adventure,336.0,4.5
3,1,Toy story,1995.0,annie_potts,Annie Potts,10.0,USA,john_lasseter,John Lasseter,Adventure,1087.0,3.5
4,1,Toy story,1995.0,annie_potts,Annie Potts,10.0,USA,john_lasseter,John Lasseter,Adventure,1598.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59296576,65133,Blackadder Back & Forth,1999.0,tim_mcinnerny,Tim McInnerny,9.0,UK,paul_weiland,Paul Weiland,Comedy,480.0,5.0
59296577,65133,Blackadder Back & Forth,1999.0,tim_mcinnerny,Tim McInnerny,9.0,UK,paul_weiland,Paul Weiland,Comedy,1228.0,3.0
59296578,65133,Blackadder Back & Forth,1999.0,tony_robinson,Tony Robinson,10.0,UK,paul_weiland,Paul Weiland,Comedy,1059.0,4.0
59296579,65133,Blackadder Back & Forth,1999.0,tony_robinson,Tony Robinson,10.0,UK,paul_weiland,Paul Weiland,Comedy,480.0,5.0
59296580,65133,Blackadder Back & Forth,1999.0,tony_robinson,Tony Robinson,10.0,UK,paul_weiland,Paul Weiland,Comedy,1228.0,3.0

In [25]:
attributes = ['movieID','title','year', 'value','user_id','rating']

In [45]:
# Restricted to 10000 Rows currently for better calculations
merged_movies = merged_movies.iloc[:10000]

X = np.array(merged_movies.iloc[:,0:11])

y = np.array(merged_movies['rating'])

In [46]:
# Checking Array dimensions
print(X.shape)
print(y.shape)

(1000, 11)
(1000,)

In [47]:
# Preprocess Data: Remove all Strings
le = preprocessing.LabelEncoder()
for i in range(0,11):
    X[:,i] = le.fit_transform(X[:,i])

In [48]:
y = le.fit_transform(y)

In [49]:
# split into training and test set
#TODO Split Data in Three and optimize for validation set to compare rmse and accuracy for Validation and Test Set!

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/5, **kwargs)

In [50]:
# Define Classifier
knn = KNeighborsClassifier(n_neighbors=44, n_jobs=-1)

In [51]:
#training Classifier
print("Training")
knn.fit(X_train, y_train)

Training

KNeighborsClassifier(n_jobs=-1, n_neighbors=44)

In [52]:
# Do predictions
print("Do Prediction")
pred = knn.predict(X_test)

Do Prediction

In [53]:
# Check Accuracy
print("Accuracy : {}".format(accuracy_score(y_test, pred)))
#RMSE for ratings [0,5]
print("RMSE : {}".format(mean_squared_error(y_test, pred, squared=False)))

Accuracy : 0.33
RMSE : 1.5842979517754858

In [44]:
#Improve Algorithm and find out good k to choose
#Limit data set to 100/1000/10000 rows for finding optimal k
#!Only execute this cell with time and computational power!

#Lets save time
limited_movies = merged_movies.iloc[:1000]

X = np.array(limited_movies.iloc[:,0:5])

y = np.array(limited_movies['rating'])

k_acc_scores = []
#start = timeit.default_timer()

for k in range(10, 100):

    print("Testing Classifier for k="+str(k))   
    knn = KNeighborsClassifier(n_neighbors=k,n_jobs=-1)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    k_acc_scores.append("k({}) = Accuracy: {} RMSE: {} ".format(k, accuracy_score(y_test, pred), mean_squared_error(y_test, pred, squared=False)))
    
print(k_acc_scores)

#stop = timeit.default_timer()

#k = 44 bestes Ergebnis

Testing Classifier for k=10
Testing Classifier for k=11
Testing Classifier for k=12
Testing Classifier for k=13
Testing Classifier for k=14
Testing Classifier for k=15
Testing Classifier for k=16
Testing Classifier for k=17
Testing Classifier for k=18
Testing Classifier for k=19
Testing Classifier for k=20
Testing Classifier for k=21
Testing Classifier for k=22
Testing Classifier for k=23
Testing Classifier for k=24
Testing Classifier for k=25
Testing Classifier for k=26
Testing Classifier for k=27
Testing Classifier for k=28
Testing Classifier for k=29
Testing Classifier for k=30
Testing Classifier for k=31
Testing Classifier for k=32
Testing Classifier for k=33
Testing Classifier for k=34
Testing Classifier for k=35
Testing Classifier for k=36
Testing Classifier for k=37
Testing Classifier for k=38
Testing Classifier for k=39
Testing Classifier for k=40
Testing Classifier for k=41
Testing Classifier for k=42
Testing Classifier for k=43
Testing Classifier for k=44
Testing Classifier for k=45
Testing Classifier for k=46
Testing Classifier for k=47
Testing Classifier for k=48
Testing Classifier for k=49
Testing Classifier for k=50
Testing Classifier for k=51
Testing Classifier for k=52
Testing Classifier for k=53
Testing Classifier for k=54
Testing Classifier for k=55
Testing Classifier for k=56
Testing Classifier for k=57
Testing Classifier for k=58
Testing Classifier for k=59
Testing Classifier for k=60
Testing Classifier for k=61
Testing Classifier for k=62
Testing Classifier for k=63
Testing Classifier for k=64
Testing Classifier for k=65
Testing Classifier for k=66
Testing Classifier for k=67
Testing Classifier for k=68
Testing Classifier for k=69
Testing Classifier for k=70
Testing Classifier for k=71
Testing Classifier for k=72
Testing Classifier for k=73
Testing Classifier for k=74
Testing Classifier for k=75
Testing Classifier for k=76
Testing Classifier for k=77
Testing Classifier for k=78
Testing Classifier for k=79
Testing Classifier for k=80
Testing Classifier for k=81
Testing Classifier for k=82
Testing Classifier for k=83
Testing Classifier for k=84
Testing Classifier for k=85
Testing Classifier for k=86
Testing Classifier for k=87
Testing Classifier for k=88
Testing Classifier for k=89
Testing Classifier for k=90
Testing Classifier for k=91
Testing Classifier for k=92
Testing Classifier for k=93
Testing Classifier for k=94
Testing Classifier for k=95
Testing Classifier for k=96
Testing Classifier for k=97
Testing Classifier for k=98
Testing Classifier for k=99
['k(10) = Accuracy: 0.285 RMSE: 1.7435595774162693 ', 'k(11) = Accuracy: 0.305 RMSE: 1.6309506430300091 ', 'k(12) = Accuracy: 0.305 RMSE: 1.6985287751463027 ', 'k(13) = Accuracy: 0.295 RMSE: 1.7478558292948536 ', 'k(14) = Accuracy: 0.31 RMSE: 1.7621010186706096 ', 'k(15) = Accuracy: 0.31 RMSE: 1.736375535418534 ', 'k(16) = Accuracy: 0.295 RMSE: 1.797220075561143 ', 'k(17) = Accuracy: 0.295 RMSE: 1.776231966833161 ', 'k(18) = Accuracy: 0.285 RMSE: 1.697056274847714 ', 'k(19) = Accuracy: 0.305 RMSE: 1.6852299546352716 ', 'k(20) = Accuracy: 0.29 RMSE: 1.70293863659264 ', 'k(21) = Accuracy: 0.285 RMSE: 1.7233687939614086 ', 'k(22) = Accuracy: 0.285 RMSE: 1.7219175357722565 ', 'k(23) = Accuracy: 0.29 RMSE: 1.710263137648707 ', 'k(24) = Accuracy: 0.28 RMSE: 1.7435595774162693 ', 'k(25) = Accuracy: 0.28 RMSE: 1.7507141400011597 ', 'k(26) = Accuracy: 0.285 RMSE: 1.7748239349298849 ', 'k(27) = Accuracy: 0.305 RMSE: 1.6837458240482737 ', 'k(28) = Accuracy: 0.295 RMSE: 1.6941074346097416 ', 'k(29) = Accuracy: 0.28 RMSE: 1.736375535418534 ', 'k(30) = Accuracy: 0.28 RMSE: 1.7663521732655694 ', 'k(31) = Accuracy: 0.28 RMSE: 1.7507141400011597 ', 'k(32) = Accuracy: 0.275 RMSE: 1.724818831066034 ', 'k(33) = Accuracy: 0.28 RMSE: 1.68967452487158 ', 'k(34) = Accuracy: 0.3 RMSE: 1.6777961735562517 ', 'k(35) = Accuracy: 0.3 RMSE: 1.6985287751463027 ', 'k(36) = Accuracy: 0.3 RMSE: 1.6522711641858305 ', 'k(37) = Accuracy: 0.305 RMSE: 1.6324827717314507 ', 'k(38) = Accuracy: 0.31 RMSE: 1.6309506430300091 ', 'k(39) = Accuracy: 0.31 RMSE: 1.6263455967290592 ', 'k(40) = Accuracy: 0.3 RMSE: 1.6431676725154984 ', 'k(41) = Accuracy: 0.305 RMSE: 1.620185174601965 ', 'k(42) = Accuracy: 0.31 RMSE: 1.6155494421403511 ', 'k(43) = Accuracy: 0.32 RMSE: 1.5968719422671311 ', 'k(44) = Accuracy: 0.33 RMSE: 1.5842979517754858 ', 'k(45) = Accuracy: 0.325 RMSE: 1.6015617378046967 ', 'k(46) = Accuracy: 0.325 RMSE: 1.6294170736800322 ', 'k(47) = Accuracy: 0.325 RMSE: 1.6031219541881396 ', 'k(48) = Accuracy: 0.325 RMSE: 1.61245154965971 ', 'k(49) = Accuracy: 0.335 RMSE: 1.6324827717314507 ', 'k(50) = Accuracy: 0.325 RMSE: 1.6355427233796125 ', 'k(51) = Accuracy: 0.325 RMSE: 1.6355427233796125 ', 'k(52) = Accuracy: 0.31 RMSE: 1.6446884203398526 ', 'k(53) = Accuracy: 0.31 RMSE: 1.6446884203398526 ', 'k(54) = Accuracy: 0.335 RMSE: 1.6109003693587012 ', 'k(55) = Accuracy: 0.325 RMSE: 1.6155494421403511 ', 'k(56) = Accuracy: 0.315 RMSE: 1.6416455159382004 ', 'k(57) = Accuracy: 0.315 RMSE: 1.6537835408541228 ', 'k(58) = Accuracy: 0.315 RMSE: 1.6416455159382004 ', 'k(59) = Accuracy: 0.33 RMSE: 1.6232683080747925 ', 'k(60) = Accuracy: 0.34 RMSE: 1.6031219541881396 ', 'k(61) = Accuracy: 0.34 RMSE: 1.6031219541881396 ', 'k(62) = Accuracy: 0.315 RMSE: 1.6109003693587012 ', 'k(63) = Accuracy: 0.31 RMSE: 1.61245154965971 ', 'k(64) = Accuracy: 0.325 RMSE: 1.6077935190813526 ', 'k(65) = Accuracy: 0.32 RMSE: 1.6093476939431082 ', 'k(66) = Accuracy: 0.32 RMSE: 1.6263455967290592 ', 'k(67) = Accuracy: 0.32 RMSE: 1.6401219466856725 ', 'k(68) = Accuracy: 0.325 RMSE: 1.6077935190813526 ', 'k(69) = Accuracy: 0.325 RMSE: 1.6155494421403511 ', 'k(70) = Accuracy: 0.33 RMSE: 1.6015617378046967 ', 'k(71) = Accuracy: 0.32 RMSE: 1.624807680927192 ', 'k(72) = Accuracy: 0.325 RMSE: 1.6031219541881396 ', 'k(73) = Accuracy: 0.325 RMSE: 1.6031219541881396 ', 'k(74) = Accuracy: 0.325 RMSE: 1.6031219541881396 ', 'k(75) = Accuracy: 0.325 RMSE: 1.6031219541881396 ', 'k(76) = Accuracy: 0.32 RMSE: 1.61245154965971 ', 'k(77) = Accuracy: 0.325 RMSE: 1.6031219541881396 ', 'k(78) = Accuracy: 0.325 RMSE: 1.6155494421403511 ', 'k(79) = Accuracy: 0.33 RMSE: 1.6140012391568972 ', 'k(80) = Accuracy: 0.33 RMSE: 1.6093476939431082 ', 'k(81) = Accuracy: 0.33 RMSE: 1.6093476939431082 ', 'k(82) = Accuracy: 0.33 RMSE: 1.6093476939431082 ', 'k(83) = Accuracy: 0.325 RMSE: 1.6109003693587012 ', 'k(84) = Accuracy: 0.325 RMSE: 1.6109003693587012 ', 'k(85) = Accuracy: 0.33 RMSE: 1.6015617378046967 ', 'k(86) = Accuracy: 0.33 RMSE: 1.6015617378046967 ', 'k(87) = Accuracy: 0.335 RMSE: 1.5968719422671311 ', 'k(88) = Accuracy: 0.355 RMSE: 1.5984367363145782 ', 'k(89) = Accuracy: 0.35 RMSE: 1.5953056133543817 ', 'k(90) = Accuracy: 0.36 RMSE: 1.592168332809066 ', 'k(91) = Accuracy: 0.355 RMSE: 1.5937377450509227 ', 'k(92) = Accuracy: 0.365 RMSE: 1.5905973720586866 ', 'k(93) = Accuracy: 0.365 RMSE: 1.5905973720586866 ', 'k(94) = Accuracy: 0.365 RMSE: 1.5905973720586866 ', 'k(95) = Accuracy: 0.365 RMSE: 1.5984367363145782 ', 'k(96) = Accuracy: 0.37 RMSE: 1.5937377450509227 ', 'k(97) = Accuracy: 0.37 RMSE: 1.5937377450509227 ', 'k(98) = Accuracy: 0.37 RMSE: 1.5937377450509227 ', 'k(99) = Accuracy: 0.37 RMSE: 1.5937377450509227 ']