# Matrixfactorization / Singular Value Decomposition
### https://www.youtube.com/watch?v=ZspR5PZemcs

In [71]:
import pandas as pd
import numpy as np
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise import Dataset
from surprise import Reader

# set random state for reproducibility
kwargs = dict(random_state=42)

In [72]:
# Load Datasets
movies = pd.read_csv('../data/raw/movies.csv', sep=',')
actors = pd.read_csv('../data/raw/actors.csv', sep=',')
countries = pd.read_csv('../data/raw/countries.csv', sep=',')
directors = pd.read_csv('../data/raw/directors.csv', sep=',')
genres = pd.read_csv('../data/raw/genres.csv', sep=',')
locations = pd.read_csv('../data/raw/locations.csv', sep=',')
movie_tags = pd.read_csv('../data/raw/movie_tags.csv', sep=',')
ratings = pd.read_csv('../data/raw/ratings.csv', sep=',')
tags =  pd.read_csv('../data/raw/tags.csv', sep=',')

In [73]:
movies = movies.rename(columns = {'id':'movieID'})
movies.dropna()
movies.head()

,movieID,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtPictureURL
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,113497,Jumanji,http://ia.media-imdb.com/images/M/MV5BMzM5NjE1...,1995.0,1068044-jumanji,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,107050,Dos viejos gruñones,http://ia.media-imdb.com/images/M/MV5BMTI5MTgy...,1993.0,grumpy_old_men,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,114885,Esperando un respiro,http://ia.media-imdb.com/images/M/MV5BMTczMTMy...,1995.0,waiting_to_exhale,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,113041,Vuelve el padre de la novia (Ahora también abu...,http://ia.media-imdb.com/images/M/MV5BMTg1NDc2...,1995.0,father_of_the_bride_part_ii,http://content8.flixster.com/movie/25/54/25542...

In [74]:
ratings = ratings.rename(columns = {'user_id':'userID'})
ratings.dropna()
ratings.head()

   userID  movieID  rating
0    1264     2363     3.5
1     213     8368     2.5
2     593    64032     3.0
3     609    54995     4.0
4    1590     5005     4.0

In [75]:
final_dataset = ratings.pivot(index='movieID',columns='userID',values='rating')
final_dataset.head()

userID,0,1,2,3,4,5,6,7,8,9,...,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112
movieID,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.5,3.5,1.0,4.5,NaN,3.0,NaN,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,4.0,NaN,NaN,2.5,NaN,NaN,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
#TODO Improve Algo and imlement it using more Features
df = pd.merge(movies, ratings, how='outer', on='movieID')
df.dropna()
df.shape

(812946, 10)

In [77]:
df.head()

,movieID,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtPictureURL,userID,rating
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...,1339.0,5.0
1,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...,551.0,3.5
2,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...,336.0,4.5
3,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...,1087.0,3.5
4,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...,1598.0,4.0

In [78]:
reader = Reader(rating_scale=(1,5))

In [79]:
data = Dataset.load_from_df(df[['userID','movieID','rating']],reader)

In [80]:
algo = SVD()
algo.n_epochs = 40

In [81]:
cross_validate(algo, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    nan     nan     nan     nan     nan     nan     nan
Fit time          72.20   72.06   70.69   70.30   71.56   71.36   0.75
Test time         1.72    1.62    1.62    1.59    2.08    1.73    0.18

{'test_rmse': array([nan, nan, nan, nan, nan]),
 'fit_time': (72.20116806030273,
  72.06434082984924,
  70.69192671775818,
  70.29873204231262,
  71.55961513519287),
 'test_time': (1.720451831817627,
  1.6197590827941895,
  1.6162660121917725,
  1.5898349285125732,
  2.0829291343688965)}