In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading the data to get someoverview
movies = pd.read_csv('../data/raw/movies.csv', sep=',')
print(type(movies))
movies.head(10)

<class 'pandas.core.frame.DataFrame'>

,id,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtPictureURL
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995.0,toy_story,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,113497,Jumanji,http://ia.media-imdb.com/images/M/MV5BMzM5NjE1...,1995.0,1068044-jumanji,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,107050,Dos viejos gruñones,http://ia.media-imdb.com/images/M/MV5BMTI5MTgy...,1993.0,grumpy_old_men,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,114885,Esperando un respiro,http://ia.media-imdb.com/images/M/MV5BMTczMTMy...,1995.0,waiting_to_exhale,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,113041,Vuelve el padre de la novia (Ahora también abu...,http://ia.media-imdb.com/images/M/MV5BMTg1NDc2...,1995.0,father_of_the_bride_part_ii,http://content8.flixster.com/movie/25/54/25542...
5,6,Heat,113277,Heat,http://ia.media-imdb.com/images/M/MV5BMTM1NDc4...,1995.0,1068182-heat,http://content9.flixster.com/movie/26/80/26809...
6,7,Sabrina,47437,Sabrina,http://ia.media-imdb.com/images/M/MV5BMTYyNDM1...,1954.0,1018047-sabrina,http://content7.flixster.com/movie/10/93/36/10...
7,8,Tom and Huck,112302,Tom y Huck,http://ia.media-imdb.com/images/M/MV5BMTUxNDYz...,1995.0,tom_and_huck,http://content9.flixster.com/movie/26/16/26169...
8,9,Sudden Death,114576,Sudden Death: muerte súbita,http://ia.media-imdb.com/images/M/MV5BMTcwMTU2...,1995.0,1068470-sudden_death,http://content8.flixster.com/movie/27/91/27912...
9,10,GoldenEye,113189,GoldenEye,http://ia.media-imdb.com/images/M/MV5BNTE1OTEx...,1995.0,goldeneye,http://content9.flixster.com/movie/26/66/26669...

In [3]:
actors = pd.read_csv('../data/raw/actors.csv', sep=',')
actors.head(10)

   movieID          actorID        actorName  ranking
0        1      annie_potts      Annie Potts       10
1        1      bill_farmer      Bill Farmer       20
2        1      don_rickles      Don Rickles        3
3        1  erik_von_detten  Erik von Detten       13
4        1        greg-berg        Greg Berg       17
5        1       jack_angel       Jack Angel        6
6        1       jan_rabson       Jan Rabson       19
7        1       jim_varney       Jim Varney        4
8        1      joan_cusack      Joan Cusack       24
9        1        joe-ranft        Joe Ranft       16

In [4]:
tags = pd.read_csv('../data/raw/tags.csv', sep=',')
tags.head(10)

   id          value
0   1          earth
1   2         police
2   3         boxing
3   4        painter
4   5          whale
5   6       medieval
6   7          funny
7   8      almodovar
8   9        finnish
9  10  brothers quay

In [5]:
ratings = pd.read_csv('../data/raw/ratings.csv', sep=',')
ratings.head()

   user_id  movieID  rating
0     1264     2363     3.5
1      213     8368     2.5
2      593    64032     3.0
3      609    54995     4.0
4     1590     5005     4.0

In [6]:
actors = pd.read_csv('../data/raw/actors.csv', sep=',')
countries = pd.read_csv('../data/raw/countries.csv', sep=',')
directors = pd.read_csv('../data/raw/directors.csv', sep=',')
genres = pd.read_csv('../data/raw/genres.csv', sep=',')
locations = pd.read_csv('../data/raw/locations.csv', sep=',')
movie_tags = pd.read_csv('../data/raw/movie_tags.csv', sep=',')

In [7]:
#row_0 = tags.iloc[0]

In [8]:
#row_0 = row_0.rename('firstRow')
#print(row_0)

In [9]:
#Missing data? -> clear all "Null"
movies.shape
movies.isnull().any().any()

True

In [10]:
count = 0
for movie in movies:
    if movies.isnull().any().any():
        count=count+1
        print(movie)    
print(count)

id
title
imdbID
spanishTitle
imdbPictureURL
year
rtID
rtPictureURL
8

In [11]:
movies = movies.dropna()
movies.isnull().any().any()

False

In [12]:
tags.isnull().any().any()
tags = movies.dropna()
tags.isnull().any().any()

False

In [13]:
ratings.isnull().any().any()
ratings = ratings.dropna()
ratings.isnull().any().any()

False

In [14]:
ratings.columns

Index(['user_id', 'movieID', 'rating'], dtype='object')

In [15]:
print(ratings[['rating']].mean())
average_rating = ratings[['movieID','rating']].groupby('movieID', as_index=False).mean()
average_rating.tail()

rating    3.437447
dtype: float64

       movieID  rating
10064    65088    3.50
10065    65091    4.00
10066    65126    3.25
10067    65130    2.50
10068    65133    4.00