In [12]:
import pan das as pd

from surprise import NormalPredictor
from surprise import SVD
from surprise import KNNBasic
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

In [2]:
ratings = pd.read_csv('../data/raw/ratings.csv', sep=',')

In [3]:
ratings.describe()

             user_id        movieID         rating
count  812818.000000  812818.000000  812818.000000
mean      689.692353    8706.134093       3.437447
std       498.190021   14439.659629       1.002791
min         0.000000       1.000000       0.500000
25%       273.000000    1367.000000       3.000000
50%       593.000000    3249.000000       3.500000
75%      1040.000000    6534.000000       4.000000
max      2112.000000   65133.000000       5.000000

In [5]:
# build a reader, define the rating scale (minimum and maximum value)
reader = Reader(rating_scale=(0.5, 5))

# The columns must be in the order of user id, item id and ratings 
data = Dataset.load_from_df(ratings[['user_id', 'movieID', 'rating']], reader)

In [13]:
# We can now use this dataset as we please, e.g. calling cross_validate
cross_validate(NormalPredictor(), data, cv=5)

{'test_rmse': array([1.37887753, 1.3822837 , 1.38455046, 1.37976877, 1.37834124]),
 'test_mae': array([1.09888479, 1.10241847, 1.10189494, 1.09934343, 1.09819222]),
 'fit_time': (0.9818909168243408,
  1.1790714263916016,
  1.1470410823822021,
  1.1470415592193604,
  1.1520462036132812),
 'test_time': (1.2611455917358398,
  1.4423105716705322,
  1.3882603645324707,
  1.5403988361358643,
  1.4052760601043701)}

In [14]:
cross_validate(SVD(), data, cv=5)

{'test_rmse': array([0.77295206, 0.77452598, 0.77456965, 0.77336247, 0.77383235]),
 'test_mae': array([0.58639007, 0.58638703, 0.58594585, 0.58580674, 0.58629899]),
 'fit_time': (35.7544732093811,
  37.15017008781433,
  35.74535894393921,
  36.005547285079956,
  35.5472846031189),
 'test_time': (1.4603257179260254,
  1.4353036880493164,
  1.421290636062622,
  1.5964505672454834,
  1.429297924041748)}

In [15]:
cross_validate(KNNBasic(), data, cv=5)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

{'test_rmse': array([0.82025873, 0.82042603, 0.82259845, 0.81998164, 0.82060395]),
 'test_mae': array([0.61968453, 0.61950368, 0.62178122, 0.61977187, 0.62085926]),
 'fit_time': (13.00881552696228,
  13.048851490020752,
  13.144938945770264,
  13.609359979629517,
  13.314763307571411),
 'test_time': (48.62015676498413,
  48.607144832611084,
  50.255642890930176,
  49.795599699020386,
  49.35782718658447)}